<%= form_tag(tweets_search_path, method: "get") do %>
  <%= text_field_tag :search, params[:search], placeholder: "Search user's last 20 tweets" %>
  <%= submit_tag "Search", name: nil %>
<% end %>
<br>
<h1>
  Latest tweets from: @<%= @user %>
</h1>
<ul>
  <% @tweets_and_mentions.each do |tweet, mention| %>
    <li class="no-bullets"><b><%= tweet %></b></li>
    <% if !mention.nil? %>
      <li class="no-bullets">
        <i>Twitter users mentioned:</i>
        <% mention.each do |name| %>
          <%= link_to name, tweets_search_path(search: name) %>
        <% end %>
      </li>
    <% end %>
    <br>
  <% end %>
</ul>
